/*Этот a:visited псевдокласс должен стоять выше остальных, так как если ставить его последним он в итоге перекроет и ховер и актив, просто интересное наблюдение) */

a:visited{
    color: red;
}
a:hover{
    color:green;
}
a:active{
    color:orange;
}
